@tailwind base;
@tailwind components;
@tailwind utilities;

button{
    background-color: #145DE8;
    color: white;
    padding: 1rem 2.5rem;
    border-radius: 3rem;
    border: 1px solid #145DE8;
}

button:hover{
    background-color: white;
    color: #145DE8;
    border: 1px solid #145DE8;
}